.dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999999999999;
  top: 0;
  left: 0;
}
.dialog-content {
  background-color: #fff;
  padding: 0 15px 15px 15px;
  width: 95%;
  margin-left: 5px;
  border-radius: 5px;
}
.dialog-title {
  margin: 12px 0;
}
.dialog-cancel {
  margin-right: 10px;
}
.dialog-controls {
  display: flex !important;
  justify-content: flex-end !important;
}
.dialog-controls button {
  height: 32px;
  width: 80px !important;
  background-color: #efefef !important;
  border: none;
  border-radius: 5px;
}
